{cover_enabled, true}.

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{deps, [
  {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client"}},
  {batch, ".*", {git, "https://github.com/CamShaft/batch"}},
  {presenterl, ".*", {git, "https://github.com/CamShaft/presenterl"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key"}}
]}.
